urllib3
unidecode
tqdm
bs4
requests
image
pywin32
pycryptodome
pykakasi
googletrans
chardet
bottle
zstandard
colorama
google-auth-httplib2
google-auth-oauthlib
windows-curses
oauth2client
comtypes
enlighten
